.test-page{
    margin: 0 20px 0 20px;
    width: 100%;
}
.test-page img{
    width: 400px;
    height: 300px;
}
.test-page_contnet{
    display: flex;
    justify-content: center;
    background-color: #f0f0f0;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
.test-page_contnet_review {
    margin-left: 80px;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.test-page2{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.payment-form{
    width: 400px;
    background-color: antiquewhite;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 30px;
    text-align: center;
}
.payment-form p{
    margin-top: 10px;
}