# 1. django 5.0.1이상 6.0.0 미만
django>=5.0.1,<6.0.0
# 2. django rest framework
djangorestframework>=3.14.0,<4.0.0
# 3. django rest framework simplejwt auth
djangorestframework-simplejwt>=5.3.1,<6.0.0
# 4. mysql - mysql adapter
mysqlclient>=2.2.4,<3.0.0
# 5. api docs
drf-spectacular>=0.27.1,<0.28.0
# 6.uWSGI 
uWSGI>=2.0.24,<2.1.0