.slide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
}
.slide-container-items{
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
  }
  .slide-item img {
    width: 140px;
    margin-left: 50px;
    border-radius: 10px;
    object-fit: contain;
  }