.Main3-contanier {
  position: relative;
  width: 100%;
  height: 100vh;
}

.image_box_01 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 70%;
  background-image: url("../../../../public//images/main3_coupon2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}

.image_box_02 {
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 50%;
  background-image: url("../../../../public//images/main3_bottom.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.WC {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 4.5%;
  left: 8%;
  width: 32.5%;
  height: 48.2%;
  transform: rotate(13.5deg);
  border-radius: 30px;
  z-index: 1;
}
.WC button {
  font-family: "impact";
  /* text-shadow: 2px 3px 1px black; */
  color: white;
  font-size: 7.5vw;
  background: none;
  border: none;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  transition: transform 0.3s ease;
}
.WC:hover button {
  color: black;
  transform: scale(1.1);
}
.Main3-Click-deg{
  position: relative;
  top: -20%;
  left: 18%;
  width: 0;
  height: 0;
  z-index: 999;
  transform: rotate(15deg);
}
.Main3-Click{
    font-size: 10rem;
    animation: sparkle 1s ease infinite;
}
@keyframes sparkle {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  50% {
    opacity: 0.7;
    transform: scale(1.15);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
/* .WC2{
  display: flex;
  text-align: center;
  position: absolute;
  top: 144px;
  left: 22.5%;
  width: 23%;
  height: 28%;
  transform: rotate(283.2deg);
  border-radius: 30px;
  border: 1px solid black;
  z-index: 2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2.85rem;
  padding: 10px;
  }
.WC2 p{
  margin: 0;
} */