.slide-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 50px 0 50px 0;
}
.slide-container-items {
    width: 100%;
    padding: 30px;
    border: 2px solid #289aff;
    border-radius: 10px;
  }
  .slide-item img {
    width: 330px;
    height: 200px;
    margin-left: 50px;
  }
  .prev-arrow {
    display: block;
    background-color: #289aff;
    width: 50px;
    height: 50px;
  }