body {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
}

.review-form-container {
  padding: 20px;
  border: 1px solid hsl(270, 4%, 67%);
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.form-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.review-form {
  display: grid;
  gap: 10px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

textarea {
  height: 100px;
}
