body {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
}

.review {
  position: relative;
  background-color: #ffffff;
  border: 3px solid rgb(70, 112, 250);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.review-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.review-content {
  line-height: 1.5;
}

.review-board {
  padding: 20px;
}

.review-list {
  display: grid;
  gap: 20px;
}

.review-page {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
