.review-page {
  background-color: rgba(255, 255, 255, 0.8); /* 배경을 흐리게 설정 */
  padding: 20px;
  min-height: 100vh; /* 최소 높이를 화면 높이로 설정하여 페이지가 비어 보이지 않게 함 */
  box-sizing: border-box;
}

.review-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.review-container {
  width: 100%;
  margin-bottom: 20px;
}

.review {
  font-family: "BinggraeII-Bold";
  text-shadow: 1px 2px 4px rgba(255, 252, 252, 0.9);
  position: relative;
  border: 10px solid rgb(50, 50, 50);
  border-radius: 5px;
  padding: 0px;
  margin-bottom: 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9)
    url("../../../../public/images/noname.png") center center/cover no-repeat;
}

.review-line {
  border: 2px solid rgb(50, 50, 50);
  margin-top: 10px;
  margin-bottom: 10px;
}

.review h3 {
  color: #232323;
}

.review p {
  color: #2c2b2b;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.review-count {
  display: flex;
  justify-content: space-between;
}

.review-title {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 40px;
  margin-bottom: 10px;
}

.review-image {
  margin: 10px;
}

.review-content {
  line-height: 1.5;
}

.review-board {
  padding: 20px;
}

.review-list {
  display: grid;
  gap: 20px;
}

.review-page {
  max-width: 800px;
  margin: 0;
  padding: 20px;
}

.review-bt {
  font-family: "impact";
  width: 100%;
  padding: 0;
  font-size: 30px;
  text-decoration: none;
  border: none;
  cursor: pointer;
  background-color: rgb(50, 50, 50);
  color: #fff;
}
.review-bt:hover {
  font-size: 2.2rem;
}
