.payment-coupon-info{
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
    padding: 70px;
    overflow: scroll;
    background-color: #f1f1f1;
    margin-top: 20px;
}
.payment-coupon-container-btn{
    text-align: right;
}
.payment-coupon-container-btn button{
    background: none;
    border: none;
    font-size: 1.25rem;
    font-weight: 700;
    color: rgb(90, 120, 250);
}
.paymentcoupon{
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    margin: 0 0 20px;
    border: 1.5px solid rgb(253, 159, 49);
}
.paymentcoupon-title{
    margin-bottom: 20px;
}
.paymentcoupon-title h5{
    font-size: 1.95rem;
    color: rgb(253, 159, 49);
    margin-bottom: 5px;
}
.paymentcoupon-title p{
    font-size: 1.25rem;
    color: rgb(255, 136, 140);
}
.paymentcoupon-bottom {
    display: flex;
    align-items: flex-end;
    margin-top: -55px;
}
.paymentcoupon-bottom img {
    width: 150px;
}