body {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar{
  display: none;
}
@font-face {
  font-family: "BinggraeII-Bold";
  src: url(../public/font/BinggraeII-Bold.ttf);
}
@font-face {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
  src: url(../public/font/TiltNeon-Regular-VariableFont_XROTYROT.ttf);
}
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
