body {
  padding: 0;
  margin: 0;
}
body::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: "BinggraeII-Bold";
  src: url(../public/font/BinggraeII-Bold.ttf);
}
@font-face {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
  src: url(../public/font/TiltNeon-Regular-VariableFont_XROTYROT.ttf);
}
@font-face {
  font-family: "impact";
  src: url(../public/font/impact.ttf);
}
@font-face {
  font-family: "Impact Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Impact Regular"), url("/public/font/impact.woff") format("woff");
}

@font-face {
  font-family: "Impact Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Impact Regular"), url("/public/font/Impacted.woff") format("woff");
}

@font-face {
  font-family: "Impacted Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Impacted Regular"),
    url("/public/font/unicode.impact.woff") format("woff");
}
.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}
