.main-content {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    color: white;
    margin: 0;
    padding: 0;
}
.mainvideo-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
    z-index: -1;
}
.main-video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.main-content-introduction {
    font-family: 'TiltNeon-Regular-VariableFont_XROT,YROT';
    font-size: 1.25rem;
    font-weight: 800;
    margin-left: 30px;
}

.main-content-introduction h1 {
    font-size: 3.5rem;
    margin: 0;
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.main-content-introduction p {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.5s ease, transform 0.3s ease;
}

.main-content-introduction .show {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.25s;
}

.main-content-introduction a {
    text-decoration-line: none;
}

.main-content-introduction strong {
    font-size: 1.75rem;
    background-color: white;
    border-radius: 10px;
    padding: 0 10px 0 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.5s ease; 
}
.main-content-introduction span {
    font-size: 1.75rem;
    color: rgb(90, 120, 250);
}


