.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-links ul {
  display: flex;
  list-style-type: none;
}
.navbar-links ul a {
  text-decoration: none;
  margin-right: 50px;
  color: black;
  font-size: 1.15rem;
  font-weight: 600;
}
.navbar-links ul a:nth-child(5){
  margin-right: 0;
}

.navbar-links ul a:hover {
  color: rgb(90, 120, 250);
}
