.mypage-payment-coupon-container p:nth-child(1) {
  font-size: 1.35rem;
}
.mypage-payment-coupon-info {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding: 60px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
}
.mypage-payment-coupon-container-btn button {
  color: rgb(90, 120, 250);
  font-size: 1.25rem;
  font-weight: 700;
  background: none;
  border: none;
}

.maypage-paymentcoupon {
  display: flex;
}

.maypage-paymentcoupon button {
  background: none;
  border-left: none;
  border-right: none;
  background-color: rgb(90, 120, 250);
  color: white;
  font-family: 700;
  width: 100%;
}

.maypage-paymentcoupon {
  position: relative;
}

.maypage-paymentcoupon p:nth-child(3) {
  padding: 0;
}

/*페이먼트쿠폰 css*/
body h1 h2 p button input {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
}

.maypage-paymentcoupon-box {
  margin: 15px;
}

.maypage-paymentcoupon-image {
  display: flex;
  color: white;
  width: 200px;
  height: 140px;
  border-radius: 10px 10px 20px 20px;
  background-color: rgb(240, 209, 71);
  text-align: center;
  padding: 5px;
  flex-direction: column;
  justify-content: center;
}

.dotted {
  position: absolute;
  width: 170px;
  top: -2px;
  left: 50%;
  transform: translate(-50%);
  border: 2px dashed white;
}

.maypage-paymentcoupon-image h2 {
  margin-top: 5px;
}

.maypage-paymentcoupon-image p {
  margin: 0;
  color: #000000;
}

.maypage-paymentcoupon-image img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.maypage-paymentcoupon {
  display: inline-block;
}

.maypage-paymentcoupon:hover .maypage-paymentcoupon-image {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.maypage-paymentcoupon:hover .maypage-paymentcoupon-bottom {
  background-color: white;
  color: black;
  cursor: pointer;
  border: 2px solid black;
}

.maypage-paymentcoupon-bottom .maypage-paymentcoupon:hover .dotted {
  border: 2px dashed rgb(3, 0, 0);
}

.maypage-paymentcoupon-bottom {
  font-size: 0.75rem;
  color: white;
  position: relative;
  background-color: rgb(240, 209, 71);
  text-align: center;
  width: 200px;
  height: 80px;
  padding: 12px 0;
  border-radius: 20px 20px 5px 5px;
}

.maypage-paymentcoupon-bottom p {
  margin: 0;
}
