body {
  margin: 0px;
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";
}

.nav-pills .nav-link.active {
  background-color: rgb(90, 120, 250) !important;
}
.nav {
  margin-left: 200px;
  --bs-nav-link-color: rgb(90, 120, 250) !important;
}

.my-page-container #left-tabs-example {
  background-color: rgb(90, 120, 250);
}

.my-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-section,
.edit-section,
.wishlist-section,
.coupon-section {
  width: 80%;
  margin-bottom: 20px;
}

.profile-section {
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
}

.profile-info {
  margin-bottom: 20px;
}

.profile-info p {
  font-size: 20px;
  margin: 10px 0;
}
.profile-info button {
  display: inline-block;
  padding: 1px 60px;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: rgb(90, 120, 250);
  color: #fff;
}
.profile-info button:hover {
  background-color: #0056b3;
}

.profile-info button:active {
  transform: translateY(1px);
}

.edit-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.edit-section .input-field {
  margin-bottom: 10px;
}

.wishlist-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.wishlist-section ul {
  list-style-type: none;
  padding: 0;
}

.wishlist-section li {
  margin-bottom: 10px;
}

.wishlist-section input {
  margin-right: 10px;
}

.coupon-section {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.coupon-section ul {
  list-style-type: none;
  padding: 0;
}

.coupon-section .coupon {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 0px;
}

.modal-backdrop.show {
  opacity: 0;
  z-index: -1;
}
