@font-face {
  font-family: "BinggraeII-Bold";
  src: url("../../../public/font/TiltNeon-Regular-VariableFont_XROTYROT.ttf")
    format("truetype");
  font-weight: bold;
  font-style: normal;
}

.recommended-box {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.recommended-spot-page h2 {
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.recommendation-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.profile-section,
.coupon-section {
  background-color: rgb(255, 255, 255);
}
