body {
  font-family: "TiltNeon-Regular-VariableFont_XROT,YROT";

  margin-top: 100px;
}
.recommended-spot-page h2 {
  margin: 10px;
  margin-bottom: 50px;
  text-align: center;
  display: block;
}
.travel-page-container {
  margin: 200px;
  margin-top: 100px;
  max-height: 80vh;
  overflow-y: auto;
}

.travel-item {
  border: 1px solid #ccc;
  padding: 50px;
  margin-bottom: 10px;
}

.loading {
  text-align: center;
  margin-top: 20px;
}

.recommendation-item {
  margin: 20px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
