/* SupportPage.css */
.support-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.support-container h2,
.support-container h3 {
  color: #333;
}

.support-container ul {
  list-style-type: none;
  padding: 0;
}

.support-container li {
  margin-bottom: 20px;
}

.support-container li strong {
  display: block;
  margin-bottom: 5px;
}
