.logo {
  margin: 0;
  width: 220px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-login ul span {
  font-size: 0.75rem;
  border: 1px solid white;
  background-color: rgba(173, 173, 173, 0.95);
  color: white;
  padding: 3px 7px 2px 7px;
  border-radius: 25px;
  font-weight: 500;
  margin-right: 5px;
}

.header-login {
  position: relative;
  right: 0;
}

.header-login ul {
  display: flex;
  align-items: center;
  font-weight: 800;
  margin-left: -40px;
}

.header-login ul li {
  font-size: 0.75rem;
  margin-right: 10px;
  list-style-type: none;
  height: 13px;
}

.header-login ul a {
  text-decoration: none;
  color: black;
}

.header-login ul a text:hover {
  font-size: 1.4em;
}

.header-login ul a:nth-child(3),
.header-login ul a:nth-child(4) {
  border-left: 1.5px solid black;
  padding-left: 10px;
}

.header-title{
  margin: 15px;
}
