.product {
  width: 420px;
  height: 480px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  border: 2px solid rgb(0,0,0,0.4);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}
.product-info{
  position: relative;
  top: -140px;
  padding: 20px;
  color: white;
  font-family: "BinggraeII-Bold";
  text-shadow: 2px 2px 4px black;
  margin: 0;
}
.product p{
  margin: 0;
}
.product a {
  text-decoration: none;
}
.product-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 18px;
}
.product:hover{
  transform: scale(1.05);
}
.favorite-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.wishlist-btn {
  position: relative;
  top: -220px;
  right: 20px;
  text-align: right;
  margin: 0;
  padding: 0;
}
.wishlist-btn span {
  font-size: 3.25rem;
}
.wishlist-btn button {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-shadow: 2px 2px 4px black;
}
.wishlist-btn-clicked span {
  color: rgb(90, 120, 250);
}